---
import { META } from '../consts'
import { AstroFont } from 'astro-font'
---

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />

<!-- general meta -->
<meta name="title" content={META.title} />
<meta name="description" content={META.description} />
<meta name="author" content={META.author} />

<!-- favicon  -->
<link rel="icon" href="/assets/img/favicon-96.png" type="image/png" />

<!-- open graph -->
<meta property="og:title" content={`${META.title}`} />
<meta property="og:description" content={META.description} />
<meta property="og:type" content="website" />
<meta property="og:url" content={META.url} />
<!-- <meta property="og:image" content={Astro.site ? `${Astro.site}${image}` : image} /> -->
<meta property="og:image" content={META.image} />

<!-- twitter card -->

<!-- page title -->
<title>{META.title} - {META.description}</title>

<AstroFont
  config={[
    {
      name: 'Afacad',
      src: [
        {
          style: 'normal',
          weight: '400',
          path: './public/fonts/RedditSansCondensed-Regular.ttf',
        },
        {
          style: 'medium',
          weight: '500',
          path: './public/fonts/RedditSansCondensed-medium.ttf',
        },
      ],
      preload: true,
      display: 'swap',
      selector: 'body',
      fallback: 'sans-serif',
    },
  ]}
/>
